//Fuentes
$fuente_principal : "Poppins", sans-serif;
$fuente_encabezados : "Lato", sans-serif;

// Variables para tamaños de dispositivos
$phone: 320px;  // Tamaño típico para móviles
$tablet: 768px;    // Tamaño para tablets
$desktop: 1024px;  // Tamaño para pantallas de escritorio
$desktopXL: 1440px; // Tamaño para pantallas grandes

// Colores
$azul:#1F3864;
$azul_claro:#2A74B5;
$gris:#333333;
$negro:#1B1B1B;
$blanco_claro:#E7F6FF;
$blanco:#FFFFFF;
$gris_medio:#CCCCCC;
$negro_medio:#070614;