@use '../base/variables' as v;
@use '../base/mixins' as m;

.header {
    display: flex;
    justify-content: space-between;
}
.navbar {
    padding: 2rem;
}
.navbar-brand {
    img {
        width: 8rem;
        height: 8rem;
    }
}

